@model IEnumerable<string>

@Html.ActionLink("News", "Index", "News")

<div style="margin-left: 10px">
    @foreach (string link in Model)
    {
        @Html.RouteLink(link, new { controller = "News", action = "Index", category = link, page = 1 })
    }
</div>









