@using NewsManager.WebUI.Models
@model IEnumerable<NavigationModel>


@Html.ActionLink("NEWS", "Index", "News")

<div style="margin-left: 20px">
    @foreach (NavigationModel link in Model)
    {
        <div class="categories" style="font-size: x-small">@Html.RouteLink(link.Title,
                                            new {controller = "News", action = "Index", category = link.CategoryId, page = 1},
                                            new { @class = link == ViewBag.SelectCategory ? "selected" : null})</div>
    }
</div>









