@using NewsManager.WebUI.Models
@model IEnumerable<NavigationModel>


@Html.ActionLink("ALL NEWS", "Index", "News")

<div style="margin-left: 20px">
    @foreach (NavigationModel link in Model)
    {
        <div style="font-size: x-small">@Html.RouteLink(link.Title,
                                            new {controller = "News", action = "Index", category = link.CategoryId, page = 1})</div>
    }
</div>









