BODY
{
  font-family: Cambria, Georgia, "Times New Roman";
  margin: 0;
}

DIV#header DIV.title, DIV.pager
{
  font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

DIV#header
{
  background-color: #444;
  border-bottom: 2px solid #111;
  color: White;
}

  DIV#header DIV.title
  {
    font-size: 2em;
    padding: .6em;
  }
  DIV#content
{
  border-left: 2px solid gray;
  margin-left: 9em;
  padding: 1em;
}

DIV#categories
{
  float: left;
  width: 8em;
  padding: .3em;
}
DIV#categories A
{
  font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
  text-decoration: none; padding: .6em; color: Black;
  border-bottom: 1px solid silver;
}
DIV#categories A.selected { background-color: #666; color: White; }
DIV#categories A:hover { background-color: #CCC; }
DIV#categories A.selected:hover { background-color: #666; }
DIV.pager
{
  text-align: center;
  border-top: 2px solid silver;
  padding: .5em 0 0 0;
  margin-top: 1em;
}
DIV.pager A
  {
    font-size: 1.1em;
    color: #666;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
  }

    DIV.pager A:hover
    {
      background-color: Silver;
    }

    DIV.pager A.selected
    {
      background-color: #353535;
      color: White;
    }
    hr 
    {
       border-width: 0px; 
    }
  

  