BODY {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

DIV#header DIV.title, DIV.pager { font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial; }

DIV#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

DIV#header DIV.title {
    font-size: 2em;
    padding: .6em;
}

DIV#content {
      
    border-left: 2px solid gray;
    margin-left: 10em;
    padding: 1em;
}

DIV#categories {
    float: left;
    padding: .3em;
    width: 9em;

}

DIV#categories A {
    border-bottom: 1px solid silver;
    color: Black;
    display: block;
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    padding: .6em;
    text-decoration: none;
    
}

DIV#categories A.selected {
    background-color: #666;
    color: White;
    

}
.NavCategory {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 124px;
    white-space: nowrap;  
}

DIV#categories A:hover { background-color: #CCC; }

DIV#categories A.selected:hover { background-color: #666; }

DIV.pager {
    border-top: 2px solid silver;
    margin-top: 1em;
    padding: .5em 0 0 0;
    text-align: center;
    
}

DIV.pager A {
    color: #666;
    font-size: 1.1em;
    padding: 0 .4em 0 .4em;
    text-decoration: none;
}

DIV.pager A:hover { background-color: Silver; }

DIV.pager A.selected {
    background-color: #353535;
    color: White;
}

hr { border-width: 0px; }

div.form-horizontal { font: bold 1.1em "Arial Narrow" }

#Category_Name, #Title, #CategoryID {
    height: 20px;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;

}
#BodyNews {
    width: 396px;
}
table {
    width: 900px;
}
.tablecategories {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;
}
.hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;   
    white-space: nowrap;   
} 
.collumn {
    width: 100px;
}


/* Custom style */
/* Sorting UI */
a.sortAsc {
    padding-right: 16px;
    background-image: url(arrow_up.png);
    background-position: right;
    background-repeat: no-repeat;
}

a.sortDesc {
    padding-right: 16px;
    background-image: url(arrow_down.png);
    background-position: right;
    background-repeat: no-repeat;
}





/* Paging UI */
td.pager {
    background-color: #eee;
}

td.pager div {
    font-size: smaller;
    font-weight: bold;
    padding: 5px;
}

a.pagerButton, a.pagerButton:visited
{
    border: solid 1px #eee;
    padding: 4px;
    text-decoration: none;
    color: #006;
    margin: 0px 2px 0px 2px;
}

a.pagerButton:hover
{
    border: solid 1px black;
    color: Black;
}

a.pagerButtonCurrentPage
{
    border: solid 1px #00a;
    padding: 4px;
    text-decoration: none;
    color: White;
    background-color: #006;
    margin: 0px 2px 0px 2px;
}

.pagerButtonDisabled
{
    border: none;
    color: #999;
    padding: 4px;
}




/* Filtering Styles */
.filtering {
    margin: 15px;
    padding: 0px 10px 10px 10px;
    background-color: #ffc;
}

.filtering legend {
    font-weight: bold;
    font-size: larger;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    padding: 8px;
    font-style: italic;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}