@using NewsManager.WebUI.Helpers
@model NewsManager.WebUI.Models.GridModel

@{
    var razorWriter = ViewContext.Writer;
    
    if ((bool)ViewData["Inactive"])
    {
        razorWriter.Write(string.Format("<span class=\"{0}\">{1}</span>", "pagerButtonDisabled", ViewData["Text"]));
    }
    else
    {
        var routeData = new RouteValueDictionary { { "page", ViewData["PageIndex"].ToString() }, { "pageSize", Model.PageSize } };
        
        // Add query string parameters to the route collection
        routeData.AddQueryStringParameters();
        
        var htmlAttributes = new Dictionary<string, object>();
        if ((bool)ViewData["Selected"])
        {
            htmlAttributes.Add("class", "pagerButtonCurrentPage");
        }
        else
        { 
            htmlAttributes.Add("class", "pagerButton");
        }
    
        var linkMarkup = Html.ActionLink(
                ViewData["Text"].ToString(),                                    // Link Text
                Html.ViewContext.RouteData.Values["action"].ToString(),         // Action
                Html.ViewContext.RouteData.Values["controller"].ToString(),     // Controller
                routeData,                                                      // Route data
                htmlAttributes                                                  // HTML attributes to apply to hyperlink
            ).ToHtmlString();

        razorWriter.Write(linkMarkup);
    }
}
